.green{
    background: green;
}


td{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

table{
    margin-right: auto;
     margin-left: auto;
     margin-top: 40px;
}

.palpite{
    background: transparent;
}

.dica{
    background: maroon;
}

/* inicio cores jogo */
.red{
    background:red;
}

.blue{
    background:blue;
}

.violet{
    background:violet;
}

.yellow{
    background:yellow;
}

.gray{
    background:grey;
}

.lightcoral{
    background:lightcoral;
}
/* fim cores jogo */


/* inicio cores das dicas */
.black{
    background:black;
}

.white{
    background:white;
}

/* fim cores das dicas */


.escondido{
    background: transparent;
}